.searchPage {
  display: flex;
  flex-direction: row;
  margin: 0;
  left: 0;
  top: 100px;
}

.loadMoreBtn {
  width: 200px;
  height: 100px;


}

.test {
  border: solid 5px purple;
  height: 100px;
}