.formContainer {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.seachForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: white solid 1px;
  margin-left: 0;
  padding: 0;

}

.sortForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: white solid 1px;
  margin-left: 0;
  padding: 0;

}


.loadMoreBtn {
  width: 200px;
  height: 100px;
  position: fixed;
  bottom: 100px;

}